<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RoomDetailMapper">
	<resultMap type="RoomDetailVO" id="RDResult">
		<id column="rd_no" property="rdNo"/>
		<result column="rd_floor" property="rdFloor"/>
		<result column="rd_type" property="rdType"/>
		<result column="rd_contract" property="rdContract"/>
		<result column="rd_area" property="rdArea"/>
		<result column="rd_adcost" property="rdAdcost"/>
		<result column="rd_adcostItem" property="rdAdcostItem"/>
		<result column="rd_availabledate" property="rdAvailabledate"/>
		<result column="rd_pet" property="rdPet"/>
		<result column="rd_balcony" property="rdBalcony"/>
		<result column="rd_heating" property="rdHeating"/>
		<result column="rd_deposit" property="rdDeposit"/>
		<result column="rd_monthly" property="rdMonthly"/>
		<result column="rd_closet" property="rdCloset"/>
		<result column="rd_shoecloset" property="rdShoecloset"/>
		<result column="rd_aircon" property="rdAircon"/>
		<result column="rd_washer" property="rdWasher"/>
		<result column="rd_induction" property="rdInduction"/>
		<result column="rd_doorlock" property="rdDoorlock"/>
		<result column="rd_bed" property="rdBed"/>
		<result column="rd_microwave" property="rdMicrowave"/>
		<result column="rd_tv" property="rdTv"/>
		<result column="rd_desk" property="rdDesk"/>
		<result column="rd_refrigerator" property="rdRefrigerator"/>
		<result column="h_no" property="hNo"/>
		<result column="rd_title" property="rdTitle"/>
		<result column="td_contents" property="rdContents"/>
		<collection property="files" ofType="java.lang.String" javaType = "list">
			<result column="i_fullName"/>
		</collection>
	</resultMap>
	
	<select id="readByRdNo" resultMap="RDResult"><!-- 방 상세보기 -->
		select * from room_detail where rd_no = #{rdNo}
	</select>
	
	<select id="rdList" resultMap="RDResult">
		select * from room_detail where h_no=#{hNo} order by rd_no desc
	</select>
	
	<insert id="RoomDetailRegister" useGeneratedKeys="true" keyColumn="rd_no" keyProperty="rdNo"> <!-- 빈방 추가 -->
		insert into room_detail values
		(null,#{rdFloor},#{rdType},#{rdContract},#{rdArea},#{rdAdcost},#{rdAdcostItem},#{rdAvailabledate},
		#{rdPet},#{rdBalcony},#{rdHeating},#{rdDeposit},#{rdMonthly},#{rdCloset},
		#{rdShoecloset},#{rdAircon},#{rdWasher},#{rdInduction},#{rdDoorlock},#{rdBed},
		#{rdMicrowave},#{rdTv},#{rdDesk},#{rdRefrigerator},#{rdTitle},#{rdContents},#{hNo})
	</insert>
	
	<select id="rdPage" resultMap="RDResult">
		select * from room_detail
		order by rd_no desc
		limit #{page},#{perPage}
	</select>
	
	<select id="rdCri" resultMap="RDResult">
		select * from room_detail where h_no = #{hNo}
		order by rd_no desc
		limit #{cri.pageStart},#{cri.perPageNum}
	</select>  
	
	<select id="rdCount" resultType="int">
		select count(rd_no) from room_detail where h_no =#{hNo}
	</select>
	

	
	<!-- Attach -->
	<insert id="addAttach">
	   insert into image(i_fullname, rd_no) values(#{fullname}, #{rdNo})
	</insert>
	
	<delete id="deleteAttachByBno">
		delete from image where rd_no = #{rdNo}
	</delete>
	
	<delete id="deleteAttachByBnoAndFullname">
		delete from image where i_fullname = #{fullname} and rd_no = #{rdNo}
	</delete>
  	
  	<insert id="modifyAttach">
  		insert into image(i_fullname,rd_no) values(#{fullname},#{rdNo});
  	</insert>
	
	<select id="selectJoinByAttach" resultMap="RDResult">
		select * from room_detail as r join image as i on r.rd_no = i.rd_no where r.rd_no = #{rdNo}
	</select>
	
</mapper>